@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset CSS */

*{
    margin: 0;
    padding:0;
    box-sizing:border-box
}

/* Contenu du body */

body{
    width: 100%; height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.div1 { grid-area: 1 / 1 / 6 / 3;
        width : 90%;
        background-color: #344712;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
     }
.div2 { grid-area: 1 / 3 / 6 / 7;
        width: 100%; 
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 50px;
    
        position: relative;}

.container1{
    display: flex;
    flex-direction: column;
}


.container2{
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.container3{
    display: flex;
    gap: 20px;
    margin: 50px;
}

.container4{
    display: flex;
    margin: 50px;
}

.container4 img{
    width:20px; height: 20px;
    object-fit: contain;
    margin: 0px;
    margin-top: 8px;
    margin-right: 20px;
}

.cube{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 111px; height: 109px;
    background-color: #539300;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

.cube img{
    width:30px; height: 30px;
    object-fit: contain;
    margin: 0px;
}

.container3 .box{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #90B959;
}

.container4 .box{
    width: 86px; height: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    background-color: #C8FF8F;
    text-align: center;
    padding-top: 10px;
    margin-left:200px;

}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
    line-height: 0.8;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 50px ;
}

.green{
    color: #AEDF76;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    text-align: center;
}

.div1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #A8AC9D;
    margin-top: 20px;
    margin-left: 50px;
}

.container1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color:#90B959;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 50px;
}

img{
    width:100%; height: 65%;
    margin-right: 50px;
    border-radius: 30px;
    object-fit: cover;
}

.button1{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:5px;
    border-radius: 100px;
    background-color: #5f824278;
    opacity: 100%;
    width: 249px; height: 64px;
    z-index:1; 

    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;

    position: absolute;
    bottom: 65%; right: 70%;
}

.button2{
    display: flex;
    gap:5px;
    border-radius: 100px;
    background-color: #5f824278;
    opacity: 100%;
    width: 249px; height: 64px;
    z-index:1; 

    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;

    position: absolute;
    bottom: 75%; left: 60%;
}

.button3{
    display: flex;
    gap:5px;
    border-radius: 100px;
    background-color: #5f824278;
    opacity: 100%;
    width: 249px; height: 64px;
    z-index:1; 

    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;

    position: absolute;
    bottom:30%;
}



.button1 .circle{
    border-radius: 180px;
    background-color: #C4FE8C;
    width: 48px; height: 51px;
    margin:5px;
}

.button2 .circle{
    border-radius: 180px;
    background-color: #C4FE8C;
    width: 48px; height: 51px;
    margin:5px;
}

.button3 .circle{
    border-radius: 180px;
    background-color: #C4FE8C;
    width: 48px; height: 51px;
    margin: 5px;
}

.button1 .circle img{
    margin:10px;
    width: 22.5px; height: 22.5px;
}

.button2 .circle img{
    margin:10px;
    width: 22.5px; height: 22.5px;
}

.button3 .circle img{
    margin:10px;
    width: 22.5px; height: 22.5px;
}

.center{
    margin-top:15px;
    color: white;
     letter-spacing: -7%;
}