@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset CSS */

*{
    margin: 0;
    padding:0;
    box-sizing:border-box
}

/* Contenu du body */

body{
    width: 100%; height: 100vh;
    background-color: #F4F4F4;;
    display: flex;
    justify-content: center;
}

main{
    background-color: #F4F4F4;
    width:80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    padding:50px;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
.div5 { grid-area: 2 / 3 / 4 / 5; }


.div1{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
    
}

.h1-div1{
    text-align: center;
    font-size: 52px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.p-div1{
    border-radius: 50px;
    background-color: #5F65EA;
    color: white;
    text-align: center;
    width: 624.58px; height: 63.17px;
    padding:20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-shield{
    background-color: #5F65EA;
    padding:10px;
    width:70px; height: 70.4px;
}

.h2-div2{
    color:#5F65EA;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.h3-div2{
    color:#787594;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.div2{
    border-radius: 20px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.h2-div3{
    color: #068FE8;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.h2-div3_2{
    color: #068FE8;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.h3-div3{
    color: #787594;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding:20px;
}


.div3{
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-div4{
    color: #068FE8;
    font-size: 96px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.div4{
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-div5{
    color: #4C4A5D;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
}


.h3-div5{
    color: #787594;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding:20px;
    
}


.div5{
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img-div5{
    padding:30px;
}