@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset CSS */

*{
    margin: 0;
    padding:0;
    box-sizing:border-box
}


body{

    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-items: center;
    background-color: black;
    gap: 50px;

}

.div1 { grid-area: 2 / 2 / 5 / 3;
        width:370px; height :694px;
        border-radius: 15px;
        background-color: #0A0A0A;
        margin-left: 200px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;

        box-shadow: 1px 1px 2px 0 rgba(255, 255, 255, 0.251),inset 0 5px 5px 0 rgba(255, 255, 255, 0.102)
        }

.div2 { grid-area: 2 / 3 / 5 / 4;
        width:370px; height:694px;
        border-radius: 15px;
        background-color: #CCCCCC;
        margin-right: 200px;
    
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        }


.div3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap:0px;
}

img{
    padding-bottom:100px;
    width: 370px; height: 370px;
    object-fit: cover;
}



.flex-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon{
     width: 130%;
     height: 130%;
     padding:0px
    
}


.h2-div1{
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.h2-div2{
    color: black;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: semibold;

}

p{
    color: #676767;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: regular;
}

.p-heigth{
    height: 100px;
}

.a1{
    padding: 1rem 2rem;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color:rgb(0, 0, 0);
    height: 56px;
    outline: none;

    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  
}


.a2{
    padding: 1rem 2rem;
    margin-top: 30px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    color:white;
    height: 56px;
    outline: none;

    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  
}

.a1:link {
  color: #000000;
}

.a1:visited {
  color: #000000;
}

.a2:link {
  color: #ffffff;
}

.a2:visited {
  color: #ffffff;
}



@media ((min-width: 320px) and (max-width: 768px)){
    body {
        display: grid;
        grid-template-columns: 370px;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
}

.div1 { grid-area: 1 / 1 / 4 / 2;
        width:370px; height :694px;
        border-radius: 15px;
        background-color: black;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center; 

        box-shadow: 1px 1px 2px 0 rgba(255, 255, 255, 0.251),inset 0 5px 5px 0 rgba(255, 255, 255, 0.102)
        }

.div2 { grid-area: 4 / 1 / 7 / 2;
        width:370px; height:694px;
        border-radius: 15px;
        background-color: #CCCCCC;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;}
}