@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset CSS */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Contenu du body */


/* .container{
  position: relative;
} */

.am-body{
  background-color: rgb(156, 177, 194);
}

.cm-body{
  background-color:rgba(44, 39, 45);
}

.cv2-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cv2-ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size:20px;
  column-gap: 300px;
}

.cv2-li{
  padding:8px;
}

.cv2-h1{
  text-align: center;
}

section{
  /* Active le modèle Flexbox */
    display: flex;
    /* Ajoute un espacement entre l'image et le texte */
    gap: 80px;
    /* Définissez une largeur maximale (facultatif) */
    flex-direction: row;
    padding:80px;
    align-items: flex-end;
    justify-content: center;
}

section img {
    width: 700px;
    height: 700px;
    /* Permet à l'image de ne pas se réduire (facultatif) */
}

.cv2-div{
  display: flex;
  flex-direction: column;
}

.cv2-body{
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.cv-body{
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-image:url(pexels-pixabay-414659.jpg) ;
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: lighten;
}

.cm-image-ul {
    list-style-type: none;
    padding: 0;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:50px;
    color: #ffffff;
    position:absolute;
    top: 10%; left: 20%;


}

.cm-image-ul .image-linkedin {
    padding-left: 30%;
    background:url(2446228.svg) no-repeat left top;
    background-size: 20% 100%; 
    margin-bottom: 50px;
    
}

.cm-image-ul .image-github {
    padding-left: 30%;
    background: url(github-logo-6532.svg) no-repeat left top;
    background-size: 20% 100%; 
}

.cm-image-ul .image-phone {
    padding-left: 30%;
    margin-bottom: 50px;
}

.cm-image-ul .image-mail {
    padding-left: 30%;
    margin-bottom: 50px;
}

.am-p{
  font-size: 50px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  text-align: justify;
  padding: 80px;
}

.am-img{
  position: absolute;
  width: 2000px;
  height: 1000px;
}


.pp-body{
  background-image:url(pexels-brett-sayles-4066118.jpg);
  background-size: 2000px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.pp-img{
  position: absolute;
  top: 30%; left:20%;
  width: 600px;
  height: 600px;
}

.truc-a-centrer {
  position: absolute; /* postulat de départ */
  top:50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.pp-p{ position:absolute;
  top: 10%; left:10%;
  font-size: 100px;
  color: #ffffff;
}

.pp-p-two{ 
  position:absolute;
  top: 60%; left:50%;
  font-size: 80px;
  color: #ffffff;
}

.pp-ul{
  list-style-type: none;
}

.pp-li{
   margin-bottom: 20px;
}

.pp-a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.pp-a:link {
  color: #000000;
}

.pp-a:visited {
  color: #000000;
}

a {
  outline: none;
  padding: 2px 1px 0;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}


nav a[href] {
  background: url("2445095.svg") no-repeat 100% 0;
  background-size: 25px 25px;
  padding-right: 30px;
}

.pink {
    color: rgb(255, 255, 255);
}

/* img {
    height: 290px;
    width: 300px;
    position:absolute;
    top: 5%;
} */

.flexible {
    display: flex;
    flex-direction:row;
}

.img-flexible {
    display:flex;
    align-items: flex-start;
    width:350px;  
}

.text-flexible {
    flex: 1;
    padding: 10px;
    font-size: 20px;
}

.cv-h{
  color:#ffffff
}


.intro {
    font-size: 10px;
    background-color: rgba(44, 39, 45);
    margin: 5px;
    padding: 20px;
    width : 250px;
    text-align: left;
    color:#ffffff

}

.image-ul {
    list-style-type: none;
    padding: 0;
}

.image-ul .image-linkedin {
    padding-left: 20%;
    background:url(2446228.svg) no-repeat left top;
    background-size: 20% 100%; 
    margin-bottom: 20px;
}

.image-ul .image-github {
    padding-left: 20%;
    background:url(github-logo-6532.svg) no-repeat left top;
    background-size: 20% 100%; 
}

.ul{ font-size: 15px;

}

.p{ font-size: 15px;

}

.li{
  list-style-type: circle;
}

.border{
  border-left: 2px solid #ffffff
}

.presentation {
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    text-align: justify;
    }

.conteneur {
  padding: 10px;
  display: flex;
  gap: 10px;
  text-align:justify;
}

.conteneur_2 {
  padding: 10px;
  display: flex;
  gap: 150px;
  text-align:left;
}

.font-weight {
  font-weight: 700;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  order: 1;
  gap: 80px;
}

.container_2{
  max-width:800px
}

.container_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  order: 1;
}