body {
  background-color: rgb(230, 216, 216);
}

.pink {
    color: crimson;
}

img {
    height: 225px;
    width: 225px;
    border-radius: 10px;
}

.flexible {
    display: flex;
    flex-direction:row;
}

.img-flexible {
    display:flex;
    align-items: flex-start;  
}

.text-flexible {
    flex: 1;
    padding: 10px;
    font-size: 20px;
}


.intro {
    font-size: 10px;
    background-color: rgba(220, 20, 60, 0.264);
    margin: 5px;
    padding: 20px;
    border-radius: 10px

}

.image-ul {
    list-style-type: none;
    padding: 0;
}

.image-ul .image-linkedin {
    padding-left: 15%;
    background:url(2446228.svg) no-repeat left top;
    background-size: 20% 100%; 
    margin-bottom: 10px;
}

.image-ul .image-github {
    padding-left: 15%;
    background: url(Octicons-mark-github.svg) no-repeat left top;
    background-size: 20% 100%; 
}

.ul{ font-size: 15px;

}

.p{ font-size: 15px;

}

.li{
  list-style-type: circle;
}

.border{
  border-left: 2px solid #000000
}

.presentation {
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    text-align: justify;
    }

.conteneur {
  padding: 10px;
  display: flex;
  gap: 10px;
  text-align:justify;
}

.conteneur_2 {
  padding: 10px;
  display: flex;
  gap: 50px;
  text-align:justify;
}

.conteneur_3 {
  padding-left: 50px;
  padding-right: 400px;
  display: flex;
  gap: 5px;
}

.font-weight {
  font-weight: 700;
}



input:focus {
  outline-color: aqua;
}