@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset CSS */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Contenu du body */

body {
  background-color: rgb(255, 255, 255);
}

/* .container{
  position: relative;
} */

.pp-body{
  background-image:url(pexels-brett-sayles-4066118.jpg);
  background-size: 2000px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.pp-img{
  position: absolute;
  top: 30%; left:20%;
  width: 600px;
  height: 600px;
}

.truc-a-centrer {
  position: absolute; /* postulat de départ */
  top:50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.pp-p{ position:absolute;
  top: 10%; left:10%;
  font-size: 100px;
  color: #ffffff;
}

.pp-p-two{ 
  position:absolute;
  top: 60%; left:50%;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}

.pp-ul{
  list-style-type: none;
}

.pp-li{
   margin-bottom: 20px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:focus {
  border-bottom: 1px solid;
  background: #ffffff;
  border-radius: 5px;
}

a:hover {
  border-bottom: 1px solid;
  background: #ffffff;
  border-radius: 5px;
}

nav a[href] {
  background: url("2445095.svg") no-repeat 100% 0;
  background-size: 25px 25px;
  padding-right: 30px;
}


.pink {
    color: rgb(0, 0, 0);
}

img {
    height: 225px;
    width: 225px;
    border-radius: 10px;
}

.flexible {
    display: flex;
    flex-direction:row;
}

.img-flexible {
    display:flex;
    align-items: flex-start;  
}

.text-flexible {
    flex: 1;
    padding: 10px;
    font-size: 20px;
}


.intro {
    font-size: 10px;
    background-color: rgba(212, 190, 177);
    margin: 5px;
    padding: 20px;
    border-radius: 10px

}

.image-ul {
    list-style-type: none;
    padding: 0;
}

.image-ul .image-linkedin {
    padding-left: 15%;
    background:url(2446228.svg) no-repeat left top;
    background-size: 20% 100%; 
    margin-bottom: 10px;
}

.image-ul .image-github {
    padding-left: 15%;
    background: url(Octicons-mark-github.svg) no-repeat left top;
    background-size: 20% 100%; 
}

.ul{ font-size: 15px;

}

.p{ font-size: 15px;

}

.li{
  list-style-type: circle;
}

.border{
  border-left: 2px solid #000000
}

.presentation {
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    text-align: justify;
    }

.conteneur {
  padding: 10px;
  display: flex;
  gap: 10px;
  text-align:justify;
}

.conteneur_2 {
  padding: 10px;
  display: flex;
  gap: 150px;
  text-align:justify;
}

.font-weight {
  font-weight: 700;
}


