body {
  background-color: rgb(255, 255, 255);
}

.pink {
    color: crimson;
}

img {
    height: 225px;
    width: 225px;
    border-radius: 10px;
}

.flexible {
    display: flex;
    flex-direction:row;
}

.img-flexible {
    display:flex;
    align-items: flex-start;  
}

.text-flexible {
    flex: 1;
    padding: 10px;
}

.intro {
    font-size: 8px;
    background-color: rgba(220, 20, 60, 0.264);
    margin: 5px;
    padding: 20px;
}

.presentation {
    font-size: 12px;
    padding: 10px;
    margin: 10px auto;
    text-align: justify;
    }

.conteneur {
  padding: 10px;
  display: flex;
  gap: 10px;
  text-align:justify;
}

.font-weight {
  font-weight: 700;
}

footer {
  height: 300px;
  background-color: rgb(0, 0, 0);
}

footer p{
    color: white;
    margin: 15px;
    border: 2px solid red;
}

input:focus {
  outline-color: aqua;
}