p {
  color: rgb(55, 0, 255);
  margin: 0px 20px 300px 200px;
}

.red {
  color: tomato;
  margin-bottom: 600px;
}

.green {
  color: green;
  margin-bottom: 1000px;
}

.font-weight {
  font-weight: 700;
}

footer {
  height: 300px;
  background-color: rgb(0, 0, 0);
}

footer p{
    color: white;
    margin: 15px;
    border: 2px solid red;
}

input:focus {
  outline-color: aqua;
}