/* Reset CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenu du body */

body{
  height: 1600px;
}

.box{
  background-color: darkgrey;
  margin: 20px;
}

.two{
  float: left;
  background-color: crimson;
}