body{
  margin: 0px;
}

.box{
  width: 200px;
  background-color: darkgrey;
  border-left: 1px solid #000000
}

.box1{
  padding:20px;
  background-color: darkgrey;
}

.box2{
  padding: 10px 30px;
  background-color: darkslateblue;
}

.box3{
  padding: 5px 15px 25px 10px;
  background-color: hotpink;
}
