body{
  margin: 0px;
}

header{
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
}

.box1{
  margin-bottom: 15px;
  margin-left: 30px;
  width: 400px;
  height: 400px;
  background-color: darkgrey;
}

.box2{
  margin-bottom: 15px;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  background-color: darkslateblue;
}

.box3{
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: hotpink;
}
