@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation de la page */

body{
    /* display: flex; */
    /* flex-wrap: wrap; */
    min-height:100vh;
  gap: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.text{
  display:flex;
  flex-direction: column;
  padding:20px;
  width : 350px;
}

h1{
  text-align: center;
  padding:50px;
  color: rgb(0, 0, 0);
  font-size: 64px;
}

h2{
    padding:50px;
    font-size: 36px;
}

h3{
    padding:10px;
    font-size: 30px;
}

p{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 18px;
    color: #696984;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  padding: 50px;

}

.card{
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
    box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.102);
  border-radius: 20px;
  padding: 50px;
}
