@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation de la page */

body{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222525;
}

nav img {
  width: 150px;
  height: 150px;
  padding:20px;
  border-radius: 50%;
}

ul {
  color: white;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

main img{
  width:400px;
  height: 300px;;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.text{
  display:flex;
  flex-direction: column;
  padding:80px
}

h1{
  text-align: center;
  padding-bottom:50px;
  color: darkslategray;
  font-size: 40px;
}

h2{
  padding: 5px;
}


.cards{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  padding:50px;
  gap:20px;
}

.card{
  display:flex;
  flex-direction: column;
  text-align: center;
  border : 1px solid black;
  border-radius: 30px;
  height: 550px;
}


footer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222525;
  min-height: 10vh;
}