/* l'import ce fait en premiere ligne */
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Italiana", sans-serif;
}

header {
  background-color: #d3b88c;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
}

main {
  width: 100%;
  display: flex;
  height: 80vh;
}

img {
  width: 25%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}

nav {
  background-color: #d3b88c;
  min-width: 385px;
  display: flex;
  align-items: center;
}

ul {
  width: 100%;
  margin-left: 32px;
  list-style: none;
}

li {
  margin-top: 32px;
  margin-bottom: 32px;
}

a {
  color: black;
  font-size: 3rem;
}

.image_container {
  width: 100%;
  height: 100%;

  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #d3b88c;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
